* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body {
    background:url("https://unsplash.com/photos/xgc3DdeLy3A");
    font-family: 'poppins', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 100vh;
    color: white;
    
}

.container {
    padding: 20px 70px;
    color: aliceblue;
}
.current-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.time-zone, .country {
    margin-top: 5px;
}

.date-container .time{
    font-size: 70px;
}

.date-container #am-pm{
    font-size: 30px;
    margin-left: 20px;
}

.date-container .date {
    font-size: 30px;
}

.place-container {
    text-align: end;
}

.place-container .time-zone {
    font-size: 30px;
    /* font-weight: 100; */

}

.place-container .country {
    font-size: 12px;
    font-weight: 700;
}

.current-info .others {
    display: flex;
    flex-direction: column;
    background-color: black;
    opacity: 70%;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.current-info .others .weather-item {
    display: flex;
    justify-content: space-between;
    
}

.today {
    background-color: black;
    opacity: 70%;
}

.future-forecast {
    /* background-color: black;
    opacity: 70%; */
    padding: 10px;
    display: flex;
    justify-content: center;    
}

.future-forecast .weather-forecast-item {
    /* display: flex; */
    background-color:black;
    opacity: 70%;
    
}

.future-forecast .weather-forecast {
    display: flex;
}

.mobile-direction {
    display: none;
}

@media only screen and (max-width: 400px){
    .container {
        padding: 10px;
    }

    .future-forecast{
        justify-content: start;
        align-items: none;  
        overflow-y: scroll;
        margin-right: 8px;
    }

    .date-container .time {
        font-size: 30px;
    }

    .date-container .date {
        font-size: 18px;
    }

    .date-container #am-pm{
        font-size: 15px;
        margin-left: 5px;
    }

    .date-container .others {
        margin-left: 10px;
        margin-top: 10px;

    }

    .place-container {
        text-align: end;
    }

    .place-container .time-zone {
        font-size: 20px;
    }

    .place-container .country {
        font-size: 15px;
    }

    .mobile-direction-container {
        text-align: center;
    }

    .mobile-direction {
        display: contents;
        margin-left: 10px;
    }

}